.user-admin-page {
  padding: 16px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .title {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .loading-text {
    text-align: center;
    padding: 12px 0;
    color: #999;
  }
}
